# Python
.venv/
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
backend/.venv/

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Linux
*~

# Logs
*.log

# Environment variables
.env

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/
